#demo-dt-basic{
	margin-top: 20px;
}

select + .select2-container{
    width: 100% !important;
}

.brand-icon{
	padding: 13px;
}

.seller_form_border{
	border: 1px dashed rgba(255,255,255,0.2);
}

#form{
	min-height: 300px;
}

.tab-stacked-left .nav-tabs{
	width: 10%;
}
